.nav{
    margin-bottom: 2px;
    margin-top: 2px;
    border: 2px black solid;
    margin-left: 4px;
    width: 40%;
    border-radius: 5px;
    
}
button{
    margin: 10px 10px;
    cursor: pointer;
    background: #0176C3;
    color: #fff;
    border: none;
    height: 20px;

}